<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aman Singh</title>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
<div class="page">
    <div class="contacts first-div">
        
        <img src="images/myphoto.jpg" alt="" class="my-img">
        <h2 id="name">Aman Singh</h2>
        <div class="short-intro"><p class="intro-p">Web Developer | ML Enthusiast</p></div>
        <hr id="con-hr">
        <div id="con-div">
        <div  class="contact-us">
            
            <img src="/images/@.png" class ="logo email-logo" alt="">
            <p id="email">Email 
            <br>
            <p id="emailid">Amansinghmarch16@gmail.com</p></p>
                
            <img src="/images/call.png" class ="logo phone-logo" alt="">
            <p id="phone">Phone
                <br><p id="phoneNo" style="display: inline-block;
                position: relative;
                left: 3.8rem;
                bottom: 2rem;
                color: rgb(223, 223, 223);">+918957666853</p></p>
                
        <div class="social-media-link">
            <a href="https://github.com/Aman8244"><img src="images/github.png" alt="" class="social-logo"></a>
            <a href="https://www.linkedin.com/in/aman-singh-433240225/"><img src="images/linkedin.png" alt="" class="social-logo"></a>
            <a href="https://www.instagram.com/__a_man_7.0/" ><img src="images/insta.png" alt="" class="social-logo"></a>
        </div>
    </div>
    </div>
    </div>
   
    <div class="about-section second">
       <div class="about-me">
        
           <!-- <div class="links">
              <a href="">About</a>
              <a href="">Resume</a>
              <a href="">Portfolio</a>
          </div>  -->
        
        <h1 class="heading-about">About Me</h1><hr class="about-hr">
        <p style="line-height: 1.5rem;">I'm a Web Developer who can create frontend and backend servers  too.I enjoy 
            making Websites that is functional  and user friendly. I add
          personal touch to  product and make sure, it is eye-catching and easy to use.</p>
          <h1 class="heading-about">What I'm Doing</h1>
          <div id="what-div">
            <div class="what-div">
            <img src="images/coding.png" id="img-webD">
            <h2 class="h2-what">Web Development</h2>
            <p id="para-webD">High-quality development of sites<br> at the professional level.</p>
            </div>
            <div class="what-div2 what-div"> <img src="images/data.png" id="img-data">
                 <h2 class="h2-what">Data Analysis</h2>
            <p id="para-data">Love to play with Data and <br>find useful 
                insights </p>
            </div>
            <br>
            
            </div>
            <br><br>
            <div class="portfolio">
              <h1 class="heading-about">Portfolio</h1><hr class="about-hr"><br><br>
              <div class="projects first-col">
                 
                <a href="https://github.com/Aman8244/Weather-App" class="project-link ">
                 <img src="images/weather.webp" alt="" class="img-project"><br>Weather APP</a>
           </div>
              <div class="projects">
                 
                   <a href="https://aman-stopwatch.netlify.app/" class="project-link">
                    <img src="images/stopwatch.png" alt="" class="img-project"><br>StopWatch</a>
              </div>
             
              <br><br><br>
           
       <div class="projects blog">
                 
        <a href="https://aman8244.github.io/Bloging-Website/" class="project-link ">
         <img src="images/blog-website.png" alt="" class="img-project"><br>Blog Website</a>
   </div>

      </div><br><br>
            <div class="Resume">
                <h1 id="resume-title">Resume</h1><hr class="about-hr">
                <div class="education">
                    <img src="images/book.png" alt="" id="img-book">
                    <h2 class="h2-resume">Education</h2><br><br>
                    <ul>
                        <li>
                            Jaipur National University <br>
                            <pre class="year">2021-2025</pre>
                            <pre class="standard">Bachelor in Technology (C.S.E + AI/ML)</pre>
                        </li>
                        <br>
                        <li>
                            Devasthaly Vidyapeeth <br>
                            <pre class="year">2018-2020</pre>
                            <pre class="standard">XII<sup>th</sup> <br></pre>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skills">
                <img src="images/coding.png" alt="" id="img-coding">
                <h2 class="h2-resume" >My Skills</h2>
                <div class="programming-lang">
                    <h3>Python <section class="bar-percentage">70%</section></h3>
                    <div class="progress-bar">
                        <div class="bar" style="width: 70%;"></div>
                      </div> <br>
                    <h3>HTML5 <section class="bar-percentage">75%</section></h3>
                    <div class="progress-bar">
                        <div class="bar" style="width: 75%;"></div>
                      </div> <br>
                    <h3>CSS <section class="bar-percentage">70%</section></h3>
                    <div class="progress-bar">
                        <div class="bar"  style="width: 70%;"></div>
                      </div> <br>
                    <h3>Bootstrap <section class="bar-percentage"> 65%</section></h3>
                    <div class="progress-bar">
                        <div class="bar"  style="width: 65%;"></div>
                      </div> <br>
                    <h3>Javascript <section class="bar-percentage">70%</section></h3>
                    <div class="progress-bar">
                        <div class="bar" style="width: 70%;"></div>
                      </div>
                     <br>
                     <h3>NodeJs <section class="bar-percentage"> 65%</section></h3>
                    <div class="progress-bar">
                        <div class="bar"  style="width: 65%;"></div>
                      </div> <br>
                    <h3>C <section class="bar-percentage">75%</section></h3>
                    <div class="progress-bar">
                        <div class="bar" style="width: 75%;"></div>
                      </div>
                </div>
            </div>
            
        
          </div>
        
        </div>
        
        
    </div>
    


    


    
</body>
</html>