<%- include("header") -%>

<div class="Resume">
    <h1 id="resume-title">Resume</h1><hr class="about-hr">
    <div class="education">
        <img src="images/book.png" alt="" style="max-height: 2.5rem;padding-top: 30px;">
        <h2 style="display: inline-block;padding-left: 15px;position: relative;top:-1rem;">Education</h2><br><br>
        <ul>
            <li>
                Jaipur National University <br>
                <pre style="color: goldenrod;">2021-2025</pre>
                <pre style="color: rgb(120,114,114);">Bachelor in Technology (C.S.E + AI/ML)</pre>
            </li>
            <br>
            <li>
                Devasthaly Vidyapeeth <br>
                <pre style="color: goldenrod;">2018-2020</pre>
                <pre style="color: rgb(120,114,114);">XII<sup>th</sup> <br></pre>
            </li>
        </ul>
    </div>
</div>
<div class="skills">
    <img src="images/coding.png" alt="" style="max-height: 2.5rem;padding-top: 30px;">
    <h2 style="display: inline-block;padding-left: 15px;position: relative;top:-.7rem;">My Skills</h2>
    <div class="programming-lang">
        <h3>Python <section class="bar-percentage">70%</section></h3>
        <div class="progress-bar">
            <div class="bar" style="width: 70%;"></div>
          </div> <br>
        <h3>HTML5 <section class="bar-percentage">75%</section></h3>
        <div class="progress-bar">
            <div class="bar" style="width: 75%;"></div>
          </div> <br>
        <h3>CSS <section class="bar-percentage">70%</section></h3>
        <div class="progress-bar">
            <div class="bar"  style="width: 70%;"></div>
          </div> <br>
        <h3>Bootstrap <section class="bar-percentage"> 65%</section></h3>
        <div class="progress-bar">
            <div class="bar"  style="width: 65%;"></div>
          </div> <br>
        <h3>Javascript <section class="bar-percentage">70%</section></h3>
        <div class="progress-bar">
            <div class="bar" style="width: 70%;"></div>
          </div>
         <br>
        <h3>C <section class="bar-percentage">75%</section></h3>
        <div class="progress-bar">
            <div class="bar" style="width: 75%;"></div>
          </div>
    </div>
</div>

